.hero {
  min-height: 90vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(
    180deg,
    #0f202a,
    #020617
  );

  color: white;
  text-align: center;
  padding: 24px;
}

.content {
  max-width: 700px;
}

h1 {
  font-size: 3rem;
  margin-bottom: 8px;
}

h2 {
  font-size: 1.5rem;
  font-weight: 400;
  color: #38bdf8;
  margin-bottom: 16px;
}

p {
  opacity: 0.8;
  margin-bottom: 24px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.primary {
  background: #38bdf8;
  color: rgb(0, 0, 0);
  padding: 12px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
}

.secondary {
  border: 1px solid #38bdf8;
  padding: 12px 20px;
  border-radius: 8px;
  text-decoration: none;
  color: #38bdf8;
}